<html>

<head>
<title>Form Page</title>
</head>
<body>
<center>
<form method="post" action="/insertAge" >
	Age <input type="text" name="age"> <br>
	<button type="submit">Submit</button>
</form>

</center>
</body>


</html>
