<html>

<head>
<title>Form Page</title>
</head>
<body>
<center>
<table border="3">
	<thead>
		<tr>
			<th>Age</th>
		</tr>
	</thead>
	<tbody>
		<%for(var i=0;i<Age.length;i++){%>
		<tr>
			<td><%=Age[i]%></td>
			<td>
				<form action="deleteAge" method="post">
					<input type="text" name="index" value="<%=i%>" style="display:none">
				<button type="submit">Delete</button>
			    </form>
		   </td>
		   <td>
			    <form action="updateAge">
			    	<input type="text" name="index" value="<%=i%>" style="display:none">
			    	<button type="submit">Update</button>
			    </form>
		   </td>
		</tr>
		<%}%>
	</tbody>
</table>

</center>
</body>


</html>
