<html>

<head>
<title>Homepage</title>
</head>
<body>
<center>
	<table border="1" style="border-collapse:collapse; padding:10px; height:100px; width:100px;text-align:center "> 
		
		<tbody>
			<tr>
				<td><a href="name">Enter Name</a></td>
			</tr>
			<tr>
				<td><a href="age">Enter Age</a></td>
			</tr>
		</tbody>
	</table>


</center>
</body>


</html>
