<html>

<head>
<title>Form Page</title>
</head>
<body>
<center>
<form method="post" action="/insertName" >
	Name <input type="text" name="name"> <br>
	<button type="submit">Submit</button>
</form>

</center>
</body>


</html>
