<html>

<head>
<title>Search Page</title>
</head>
<body>
<center>
	<h1>Search Page</h1>
<form method="post" action="/search" >
	Enter Name  <input type="text" name="name"><br>
	Enter Age   <input type="text" name="age"><br>
	            <button type="submit">Search</button>
</form>
</center>
</body>


</html>
