<html>

<head>
<title>Update Page</title>
</head>
<body>
<center>
<form method="post" action="/updateAge" >
	Update Age  <input type="text" name="age"><br>
	             <button type="submit">Update</button>
</form>

</center>
</body>


</html>
