<html>

<head>
<title>Update Page</title>
</head>
<body>

<center>
	<h1>Update Page</h1>
<form method="post" action="/update" >
	
	new Name   <input type="text" name="name"><br>
	new Age    <input type="text" name="age"><br>
	           <input type="text" name="obj" value="<%=object%>" style="display:none">
	           <button type="submit">Update</button>
</form>

</center>
</body>


</html>
